doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='author', content='Karasiq')
        meta(name='description', content='2ch.hk WebM television')
        meta(name='keywords', content='2ch, webm, /b/')
        meta(name='robots', content='index,nofollow')
        base(href='/')
        title WebM-TV
        include _static_includes

    body(background='/img/background.jpg')
        .container#main-container